header{
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.logo img{
    width: 100px;
    height: 100px;
    margin-left: 25px;
    transform: scale(1.5);
}